li{
    background-color: #c3c3c3;
    margin: 0.1em;
    border-radius: 2px;
    padding: 0.1em 0.4em;
    font-size: 1.1em;
    overflow-wrap: break-word;
    transition: all 0.05s linear;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

li:hover{
    background-color: #909090;
}