form{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.boton{
    font-size: 1.1em;
    padding: 0.3em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    min-width: 10%;
}

.inputTxt{
    width: 60%;
}